html {
  font-family: "Poppins" !important;
  .elevation-10 {
    box-shadow: 1px 0 20px rgb(0 0 0 / 8%) !important;
  }
  .elevation-5 {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.34) !important;
  }
  .v-card-text {
    padding: 20px 30px 30px;
  }
  .v-card-header {
    padding: 30px 30px 0.625rem;
  }
  .v-card-actions {
    padding: 0.625rem 30px 30px;
  }
  .v-card {
    border-radius: 8px;
    width: 100%;
  }
  .v-btn {
    text-transform: capitalize;
    letter-spacing: 0;
  }
  .v-btn-group .v-btn {
    height: inherit !important;
  }

  .v-navigation-drawer__scrim.fade-transition-leave-to {
    display: none;
  }

  .theme-carousel .v-carousel__progress {
    position: absolute;
  }
  .v-theme--light,
  .v-theme--dark {
    --v-theme-on-warning: 255, 255, 255;
  }
  .v-card.w-auto {
    width: auto !important;
  }
}
